.itemCenter {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
}
.divCards {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 4rem;
	padding-right: 4rem;
	margin-bottom: 5rem;
}
