.centradoItems {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
}

.textCenter {
	text-align: center;
}
.buttonReverse {
	margin-bottom: 2rem !important;
}
.linkReverse {
	margin-left: 4rem !important;
	text-decoration: none !important;
}
.cardCategory {
	background-color: #fdfdfdbf;
	margin-left: 4rem;
	margin-right: 4rem;
	margin-bottom: 3rem;
	padding: 2rem;
	box-shadow: 5px 3px 12px 2px #a39d9d;
}
