.montoFinal {
	margin: 0px;
	margin-top: 2rem;
	text-align: right;
	padding-right: 4rem;
}
.margin {
	margin-top: 5rem;
	text-align: center;
	background: #f5f4f4d9;
	box-shadow: 3px 6px 16px 2px #a39b9b;
	max-width: 90vw;
	width: 90vw;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 5rem);
}
.cartEmpty {
	background: #f5f4f4d9;
	box-shadow: 3px 6px 16px 2px #a39b9b;
	border-radius: 100%;
	width: 20vw;
	height: 20vw;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.buttonCompra {
	margin-bottom: 2rem !important;
}
