nav {
	background-color: rgb(197, 197, 197);
	color: white !important;
	position: fixed;
	width: 100%;
	top: 0;
	min-height: 3.5rem;
	max-height: 3.5rem;
	z-index: 999;
}
.navComponent {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.navButto {
	color: white !important;
	cursor: pointer;
	min-height: 3.5rem;
}
.navComponent .divLogo {
	position: absolute;
	left: 1rem;
	height: -webkit-fill-available;
	color: white;
}
.logo {
	height: 5em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
