.container {
	margin-top: 4rem;
	min-height: calc(100vh - 4rem);
}
.itemCenter {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;
}

.TitleError {
	padding-top: 5rem;
}
#root {
	min-height: 100vh;
	background-image: url('./assets/img/RERBOZ4SVRHNZMFVZYM5JMEXRI.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.margin {
	padding-top: 4rem;
}
