.itemCenter {
	padding-left: 3rem;
	padding-right: 3rem;
}
.productCard {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	margin-bottom: 2rem;
}
.productImage {
	display: flex;
	justify-content: center;
}
.imageSize {
	max-height: 35vh;
}
