.itemCenter {
	text-decoration: none;
	color: black;
	height: 100%;
}
.divCards {
	display: flex !important;
	justify-content: space-evenly !important;
	flex-direction: column !important;
	text-align: center !important;
	align-items: center;
	height: 100%;
}
.imgSize {
	max-height: 50vh;
	max-width: -webkit-fill-available;
}
